@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

*{
    font-family: "Syne", sans-serif ;
  /* font-family: "Montserrat", sans-serif; */
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}