.text-4xl{
    font-size: 1.125rem;
    line-height: 1.25rem;   
}

.text-3xl{
    font-size: 0.9375rem; /* 30px */
    line-height: 1.125rem;
}

.text-2xl{
    font-size: 0.75rem; /* 24px */
    line-height: 1rem;
}

.p-3{
    padding: 6px;
}

.standard_product_image{
    width: 40vw;
    height: auto;
}

.products-grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    margin-bottom: 2rem;
}


.resp_grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}