.slick-slider{
    position: relative;
}
.slick-arrow-next {
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 50%;    
    transform: translateY(-50%);
}


.slick-arrow-prev {
    position: absolute;
    left: 0;
    margin-left: 15px;
    top: 50%;    
    transform: translateY(-50%);
    z-index: 3;
}
